<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <title>Hello, world!</title>

    <style>
        /* body{
        justify-content: center;

      } */

        #call {
            display: flex;
        }

        form {
            /* width: 70%; */
            /* padding: 1%; */
            border: 1px solid grey;
            margin-left: 5%;
            height: 500px;
            align-items: center;
        }

        .item {
            margin-top: 5px;
            margin-left: 5px;
        }

        h3 {
            /* justify-content: center; */
            text-align: center;
            /* margin-left: 40%; */
        }

        p {
            text-align: center;
            /* margin-left: 15%; */
        }

        .rat {
            background-color: rgb(0, 157, 255);
            color: white;
            width: 100%;
            border: 3px solid white;
            text-align: center;

        }

        .new {
            background-color: rgb(0, 157, 255);
            color: white;
        }

        .listi {
            margin-top: 2px;
        }

        #details {
            width: 100%;
            /* margin-left: 30%; */
        }

        .blue {
            background-color: grey;
        }

        .contain {
           
            display: flex;
            margin-top: 10px;
        }

        .fstCont {
            width: 50%;
        }

        .detailCon {
            width: 50%;
            border: 5px solid grey;
            height: 500px;
            margin-right: 15px;
            

        }
        #update{
            background-color: aqua;
            color: black;
            font-size: 25px;
        }
        #delBtn{
            margin-left: 10px;
            
        }
   
        
    </style>
</head>

<body>

    <div class="contain">
        <div class="fstCont">

            <form>

                <h3></i>Admin</h3>
                <p id="token"></p>

                <hr>

                

                <div class="form-group">
                    <label for="">Product Name:</label>
                    <input type="text" required class="form-control" id="name"
                        placeholder="Enter Product Name here">
                        <!-- <textarea name="" id="" cols="30" rows="10"> -->
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Product price</label>
                    <input type="text" class="form-control" name="price" id="price" placeholder="Enter phone number here">
                </div>




                <button class="rat" type="submit" id="mouseover" onclick="consolevalue(event)">Submit</button>
                <button class="rat" type="submit" id="update" onclick="updateData(event)">Update</button>

                <div id="totalPrice"><br>
                    <!-- <h4>totalPrice</h4> -->
                </div>
            </form>
        </div>
        <div class="detailCon">

            <h3>Product Details</h3>
            <hr>
            <ol id="details" class="list">

            </ol>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>


<script>

    let totalPrice = 0;


    async function getDetails() {
        // console.log("here")
        try {
            let Updatebtn = document.getElementById("update");
            Updatebtn.hidden = true;
            let submitBtn = document.getElementById("mouseover");
            submitBtn.hidden = false;
            let res = await axios.get("http://localhost:4000/user/get-data")
            // console.log(res.data.userdetails)
            showOutputOfGet(res.data.userdetails);
        } catch (err) { console.log(err) }
    }
    getDetails()
 




    async function consolevalue(event) {
        try {
            event.preventDefault();

            let price = document.getElementById("price").value;
            let name = document.getElementById("name").value;
            
            let tPrice = localStorage.getItem("totalPrice")

                 console.log(tPrice)
            
            console.log(price, name);
            // name.value = ""

            const obj = {
            
                name: name,
                price: price
            }

            let Updatebtn = document.getElementById("update");
            Updatebtn.hidden = true;
            let submitBtn = document.getElementById("mouseover");
            submitBtn.hidden = false;


            let res = await axios.post("http://localhost:4000/user/expense-data", obj)

            let pri = res.data.userdetails.price
            let n = res.data.userdetails.name
            let id = res.data.userdetails.id
            let newFullPrice = (+pri) + (+tPrice);

            localStorage.setItem('totalPrice',newFullPrice)
            // console.log(des)
            showOutput(id, pri, n , newFullPrice)
            document.getElementById("price").value = "";
            document.getElementById("name").value = "";
            
            //  }).catch((err)=> console.log(err))
        } catch (err) { console.log("err" + err) }


    }

    // for post response
    function showOutput(id, price, name, totalPrice) {
        // console.log('des-'+des)

        

        

        let details = document.getElementById("details");

        let div = document.createElement("div")

        div.innerHTML = `<li class="item">${name}-${price}<button onClick="deleteData(event,'${id}')" id="delBtn" type="submit" value="Delete" class="btn btn-danger">Delete</button> <button type="button" class="btn btn-secondary" onClick="editData(event,'${id}')" id="submit" class="btnEdit" type="submit">Edit</button></li>`;
        
        details.append(div)

        let total = document.getElementById('totalPrice')
        total.innerHTML = ""

        let tDiv = document.createElement('div')
        tDiv.innerHTML = `<h4>Total-Price:- ${totalPrice}</h4>`
       
        total.append(tDiv)

        let Updatebtn = document.getElementById("update");
        Updatebtn.hidden = true;
        let submitBtn = document.getElementById("mouseover");
        submitBtn.hidden = false;
    }

    // for get response
    function showOutputOfGet(data) {
        let totalPrice=0;
        // console.log(data[0].email)
        let details = document.getElementById("details");
        details.innerHTML = "";

        let arr = data.forEach(element => {
            // console.log(element._id)
            let price = +element.price
            totalPrice = totalPrice + price

            let div = document.createElement("div")

            div.innerHTML = `<li class="item">${element.name}-${element.price}<button onClick="deleteData(event,'${element.id}')" id="delBtn" type="submit" value="Delete" class="btn btn-danger">Delete</button> <button type="button" class="btn btn-secondary" onClick="editData(event,'${element.id}')" id="submit" class="btnEdit" type="submit">Edit</button></li>`;

            details.append(div)
        });


        let total = document.getElementById('totalPrice')
        total.innerHTML=""

        let tDiv = document.createElement('div')
        tDiv.innerHTML = `<h4>Total-Price:- ${totalPrice}</h4>`
       
        total.append(tDiv)

        localStorage.setItem('totalPrice', totalPrice)

        let Updatebtn = document.getElementById("update");
        Updatebtn.hidden = true;
        let submitBtn = document.getElementById("mouseover");
        submitBtn.hidden = false;
        console.log('totalPrice'+ totalPrice)
    }
    // deleting element form data
    async function deleteData(event, id) {
        try {

            // console.log(id)
            event.preventDefault();
            // let site
            let site = `http://localhost:4000/user/raat-data/${id}`
            await axios.get(site)
            //  console.log('res')
            let Updatebtn = document.getElementById("update");
            Updatebtn.hidden = true;
            let submitBtn = document.getElementById("mouseover");
            submitBtn.hidden = false;
            getDetails()
        } catch (err) { console.log(err) }
        // console.log(id)
    }

    // editing data
    async function editData(event, id) {
        try {


            event.preventDefault();
            // console.log(id)
            // let site
            let site = `http://localhost:4000/user/edit-data/${id}`
            let res = await axios.get(site)
            // console.log(res.data)
            getContent(res.data.userdetails[0], res.data.userdetails[0].id)
        } catch (err) { console.log(err) }
    }


    // edit contain
    function getContent(data, id) {
        localStorage.setItem("key", id)
        // console.log(id)
        document.getElementById("price").value = data.price;
        document.getElementById("name").value = data.name;
       
        let btn = document.getElementById("update");
        btn.hidden = false;
        let submitBtn = document.getElementById("mouseover");
        submitBtn.hidden = true;



    }

    // let putId=getContent(data,inpm d)
    // console.log(putId)


    async function updateData(event) {

        try {
            event.preventDefault();

            let id = localStorage.getItem('key')
            console.log(typeof (id))


            let name = document.getElementById("name").value;
            let price = document.getElementById("price").value;

            let obj = {
                id: id,
                updatedName: name,
                updatedPrice: price
                
            }

            console.log(obj)
            // // console.log("here")
            let site = `http://localhost:4000/user/updated-data`

            await axios.post(site, obj)

            // console.log(res)
            getDetails()
            localStorage.removeItem("key")
            document.getElementById("name").value = "";
            document.getElementById("price").value = "";
            
            // showOutput(res)
            let Updatebtn = document.getElementById("update");
            Updatebtn.hidden = true;
            let submitBtn = document.getElementById("mouseover");
            submitBtn.hidden = false;

            console.log("update")
        } catch (err) { console.log(err) }
    }

</script>

</html>